body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;

    
}
header {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    
}
.logo {
    padding-top: 5%
}
 nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     /* background-color: cadetblue; */
     height: 60px; 
     color: rgb(183,184,58);
     margin: 40px ;     
     
 }

 nav a {
     color: rgb(183,184,58);
     font-size: 18pt;
     padding: 40px 60px;
 }
 

h2 {
    text-align: center;}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center }
    


footer {
    background-color: rgb(183,184,58);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }  

        
    
    .icon {
        height: 40px;
                padding: 2px
    
    }
    .smalltext {
        margin: 20px;
        padding: 2px;
    }
    
    .icons {
        margin: 20px;
    
    }  
     
.aboutimage {
    height: 300px;
    align-items: center;
}
@media screen and (min-width: 450px) {

  
}

@media screen and (max-width: 720px) {
    body {
        text-align: center;
    }
    footer {
        justify-content: center;
    }

    .navlink {
        display: none;
    }
    
    .smalltext {
        display: none;
    }
    
    nav div {
        width: 35px;
        height: 5px;
        background-color: rgb(183,184,58);
        margin: 6px 0;
      
          }

}


@media (min-width: 996px) {
 
   
} 