body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
    
}
header {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
    
}
.logo {
    padding-top: 5%
}
 nav {
     display: flex;
     flex-direction: row;
     align-items: center;
     /* background-color: cadetblue; */
     height: 60px; 
     color: rgb(183,184,58);
     margin: 40px ;
     
     
 }
 nav a {
     color: rgb(183,184,58);
     font-size: 18pt;
     padding: 40px 60px;
 }
 
.container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}

form > section  {
    border: solid rgb(183,184,58) 2px;
    padding: 20px;
    width: 250px;
        }
        
section div {
    padding: 5%;
}

.container {
    justify-content: center;
    text-align:center;
}
    .aboutyou {
        grid-area: aboutyou;
        
    }
    
    .how {
        grid-area: how;
        
    }
        
   .messageme {
        grid-area: messageme;
        
    }
    .footer {
        grid-area: footer;
    }


    footer {
        background-color: rgb(183,184,58);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .icon {
        height: 40px;
        margin: 5px;
    
    }
    .smalltext {
        margin: 20px;
        padding: 20px;
    }
    
    .icons {
        margin: 20px;
        padding: 2px;
    }
     
.container {
        grid-template-areas:
        "aboutyou how"    
        "messageme footer"
        
    } 
@media screen and (min-width: 450px) {
    
    footer{
        justify-content: space-between;
        }  
        
    .icons {
        margin: 20px;
        padding: 2px;
    }
  
}
@media screen and (max-width: 720px) {
    .container {
        grid-template-areas:
        "aboutyou"
        "how"  
        "messageme"
        "footer"
        
    }
    .navlink {
        display: none;
    }
    
    .smalltext {
        display: none;
    }
    nav div {
        width: 35px;
        height: 5px;
        background-color: rgb(183,184,58);
        margin: 6px 0;
      
          }
          footer{
            justify-content: center;
            }  
}

@media (min-width: 996px) {
    .container {
       grid-template-areas:
            "aboutyou how messageme footer"        
            
        }
   
} 